.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(243, 227, 197);
    padding: 20px 0;
    position: relative;
}

.navbar .logo {
    width: 200px;
    margin-bottom: 20px;
}

.navbar-menu {
    display: flex;
    list-style: none;
    gap: 80px;
    padding: 0;
    color: #4A773C;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    transition: color 0.3s ease, transform 0.3s ease;
    border-radius: 10%;
    background-color: transparent;
    box-shadow: none;
    margin-bottom: 30px;
}

.navbar-menu .active {
    padding-bottom: 2px;
    border-bottom: 2px solid #4A773C;
}

.navbar-menu li {
    transition: color 0.3s ease, transform 0.3s ease;
}

.navbar-menu li:hover {
    color: #2E5A2F;
    transform: scale(1.1);
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 40px;
    position: absolute;
    top: 20px;
    right: 20px;
}

.navbar-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%; 
    background-color: #E0F2E9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease;
}


.navbar-icon img {
    width: 24px; 
    height: auto;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.navbar-icon:hover {
    background-color: #D5C5A8; 
    transform: scale(1.1); 
}

.navbar-search-icon .dot {
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: #D5C5A8;
    border-radius: 5px;
    top: -8px;
    right: -8px;
}

.navbar-right button {
    background: #E0F2E9;
    color: #4A773C;
    font-size: 16px;
    padding: 12px 30px;
    border-radius: 50px;
    width: 80px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.3s ease;
    font-weight: 600;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: none;
}

.navbar-right button:hover {
    background-color: #D5C5A8; 
    transform: scale(1.05);
}

.navbar-profile {
    position: relative;
}

.navbar-profile-dropdown {
    position: absolute;
    display: none;
    right: 0;
    z-index: 1;
    background-color: #F1F8F4;
    padding: 12px 20px;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    list-style: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
    opacity: 0;
    transform: translateY(10px);
}

.navbar-profile-dropdown li {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    font-weight: 500;
    transition: color 0.3s ease;
}

.navbar-profile-dropdown img {
    width: 20px;
}

.navbar-profile-dropdown li:hover {
    color: #2E5A2F;
}

.navbar-profile:hover .navbar-profile-dropdown {
    display: flex;
    flex-direction: column;
    gap: 10px;
    opacity: 1;
    transform: translateY(0);
}

.navbar-profile hr {
    background-color: #C0C0C0;
    height: 1px;
    border: none;
    margin: 8px 0;
}

.navbar-icons-container {
    display: flex;
    align-items: center;
    gap: 36px;
    background-color: #E0F2E9;
    padding: 10px;
    border-radius: 10%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar-icons-container img {
    width: 24px;
    height: auto;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.navbar-icons-container img:hover {
    transform: scale(1.1);
    filter: brightness(0.8);
}

@media (max-width: 1050px) {
    .navbar .logo {
        width: 140px;
    }

    .navbar-menu {
        gap: 30px;
        font-size: 17px;
    }

    .navbar-right {
        gap: 30px;
    }

    .navbar-right img {
        width: 22px;
    }

    .navbar-right button {
        padding: 8px 25px;
    }
}

@media (max-width: 900px) {
    .navbar .logo {
        width: 120px;
    }

    .navbar-menu {
        gap: 20px;
        font-size: 16px;
    }

    .navbar-right {
        gap: 20px;
    }

    .navbar-right img {
        width: 20px;
    }

    .navbar-right button {
        font-size: 15px;
        padding: 7px 20px;
    }
}

@media (max-width: 750px) {
    .navbar-menu {
        display: none;
    }
}
